*.user
*.vspscc
*.vssscc
*.suo
*.cache
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.lib
*.sbr
*.scc
*.ReSharper
*_ReSharper.*/**
[Oo]bj/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
BuildProcessTemplates/*
Published/*
deploy
deploy/*
[Tt]humbs.db
[Uu]pgradeLog*.[Xx][Mm][Ll]
_[Uu]pgradeReport_Files*/
*.build.csdef
[Pp]ackage/*
ASPNETDB.MDF
aspnetdb_log.ldf

