@model GiveCampStarterSite.ViewModel.CharityIndexViewModel

@{
    ViewBag.Title = "Nwa GiveCamp: Charity Information";
}

<h2>Charity Information</h2>

@Html.DisplayFor(x => x.PageContent)

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#navCharity").addClass("active");
    });
</script>
