@model GiveCampStarterSite.Models.Page
<div id="pageContent">
    <div class="post">
        @if (Roles.IsUserInRole("Administrator"))
        {
            <div style="float: right; display: block;">
            @Html.ActionLink("Edit", "Edit", "Page", new { id = Model.Id }, null)
            </div>
        }
        <h1 class="pagetitle">@Model.Title</h1>
        <div class="entry">
            @Html.Raw(Model.Content)
        </div>

    </div>
</div>
