@model GiveCampStarterSite.ViewModel.HomeAboutViewModel

@{
    ViewBag.Title = "Nwa GiveCamp: About Us";
}

<h2>About</h2>

@Html.DisplayFor(x => x.PageContent)

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#navAbout").addClass("active");
    });
</script>