@model GiveCampStarterSite.ViewModel.HomeIndexViewModel

@{
    ViewBag.Title = "Nwa GiveCamp: Home";
}

<p>
    @Html.Raw(Model.PageContent.Content)
</p>

@foreach (var post in Model.Posts)
{
    <div>
        <h1 style="text-decoration: underline; font-weight: bold;">@post.Title</h1>
        <p>
            @Html.Raw(post.Content)
        </p>
    </div>
}
