@model GiveCampStarterSite.ViewModel.SponsorIndexViewModel

@{
    ViewBag.Title = "Nwa GiveCamp: Sponsor Information";
}

<h2>Sponsors</h2>

@Html.DisplayFor(x => x.PageContent)


@section SideBar {
<h2>
        GiveCamp Resources</h2>
    <ul>
        <li><a href="../../Content/Files/NwaGiveCampSponsorKit.docx" alt="Sponsorship Kit">Sponsorship
            Info</a></li>
        <li><a href="mailto:info@nwagivecamp.org">Sponsorship Inquiries</a>
            <li>
                <a href="/Home/FAQs">Frequently Asked Questoins</a></li>
    </ul>
    <p style="">
        As a GiveCamp sponsor, your support helps bring together all of the volunteers and
        developers that are working towards creating web applications for the selected non-profit
        organizations. Sponsors are an important part of ensuring that non-profits continue
        to benefit from this valuable work with no cost to participate. It will take more
        than the passion and expertise of our volunteers to make this happen. We need your
        support to help provide a fun and rewarding environment for our volunteers and developers.
    </p>
    <p>
        Your sponsorships help in areas such as meals and snacks for the volunteers and
        developers throughout the event weekend, software to be used in web site development,
        prizes for giveaways at the end of the event, "goodie-bag" items for each of the
        developers and volunteers T-Shirts, name tags and other items related to the running
        of a GiveCamp</p>
    <p>
        Sponsors will receive recognition throughout the GiveCamp weekend, including the
        opportunity to have their logo printed on materials and featured on the Dallas GiveCamp
        website. If you have any questions, please drop us a line at info@nwagivecamp.org.</p>


}

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#navSponsor").addClass("active");
    });
</script>

