@model GiveCampStarterSite.ViewModel.SponsorIndexViewModel

@{
    ViewBag.Title = "Nwa GiveCamp: Sponsor Information";
}

<h2>Sponsors</h2>

@Html.DisplayFor(x => x.PageContent)

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $("#navSponsor").addClass("active");
    });
</script>

